/* ============ 1. 공통 CSS ============ */
*{ padding: 0px; margin: 0px; } /* 1. 기본여백 제거 */
*{ box-sizing: border-box; } /* 2. 테두리까지 사이즈 계산 */
a{ text-decoration: none; color: black; } /* 3. a마크업 기본값 제거 */
li{ list-style-type: none;} /* 4. 글머리 제거 */

/* ============ 2. 헤더 CSS ============ */
#header{
    width: 1280px; /* 가로 사이즈 */
    margin: 0 auto; /* 구역 가로 가운데 정렬 */
    display: flex; /* 하위 요소 배치 방법 */
    justify-content: space-between; /* 양끝 여백없이 균등정렬*/
    align-items: center; /* 세로 정렬 */
}
#header > .menu > ul{ /* #아이디 , .클래스 , 마크업 */
    display: flex; justify-content: flex-end;
}
.top-menu > li{ font-size: 12px ; margin: 10px 3px; }
.main-menu > li{ 
    font-size: 20px; font-weight: bold; 
    margin: 10px 0px 30px 80px ; /* 바깥여백 : 위 오른쪽 아래 왼쪽 순서 */
}

/* ============ 3. 대표이미지 CSS ============ */
#main-img > img{  width: 100%; } /* 드바이스(화면) 전체 크기 */

/* ============ 4. 본문 CSS ============ */
#main{
    width: 1280px; margin: 20px auto; 
    display: flex; justify-content: space-between;
}
#main > .sidebar{ width: 250px; } /* 왼쪽 */
#main > .content{ width: 1000px; } /* 오른쪽 */
/* ============ 5. 본문-사이드바 CSS ============ */
.sidebar > .title{
    background-color: #0ca9a2; color: white;
    font-size: 20px; padding: 10px;
}
.sidebar > .comment{ padding: 5px 0px; line-height: 150%; } /* 줄간격*/
.sidebar > .searchbox > input{
    border-radius: 10px; /* 둥근모서리 */
    padding: 5px;
    width: 180px;
}
.sidebar > .searchbox > button{ padding: 4px; } 
.sidebar > .sub-title{
    border-top: 2px solid black;  border-bottom: 1px solid #eeeeee;
    margin-top: 30px; padding: 10px 0px; 
    font-size: 18px;
}
.sidebar > .sub-menu > li{ padding: 5px; }

