.box{
    width: 100px;   height: 100px;
    background-color: yellow;
    border: 1px solid red;
}
.box2{
    /* static : HTML 작성 순서대로 배치, 위치 변경불가 */
    position: static; /* 포지션 기본값(생략가능)*/
    left: 50px; /* 위치 이동 불가능하다.*/
}
.box3{
    /* relative : 본래 위치로 부터 상대 위치, 위치 변경 가능 */
    position: relative;
    top : 50px; left: 200px;
}
.box4{
    /* absolute : 가장 가까운 position 가진 상위요소의 기준 절대위치  */
    position: absolute;
    top : 50px; left: 200px;
}
.box5{
    /* fiexd : 드바이스(크롬) 화면 위치 고정 */
    position: fixed;
    right: 50px; bottom: 50px;
}
.parent{ 
    position: relative;
    border: 2px solid blue;
}
.box6{
    position: absolute;
    top : 50px; left: 200px;
}
.header{
    display: flex;  background-color: beige;
    /* sticky : 만일 화면에서 벗어나면 위치 고정 */
    position: sticky;
    top : 0px;
    z-index: 5; /* 겹침 우선순위 5 */
}
.header > ul{ display: flex; }

