/* ============== 공통 CSS ===================== */
*{
  padding: 0px; margin: 0px;
  box-sizing: border-box; font-size: 12px;
}
li{ list-style-type: none; }
a{ color: black; text-decoration: none; }

/* ============== 레이아웃 CSS ===================== */
#wrap{ }
#header{
  width: 100%;
  /* display: contents; : 해당 요소 자체는 시각적인 박스(box)를 생성하지 않고,
  그 내용(자식 요소들)만 존재하는 것처럼 만듭니다. sticky 사용하기위해서 사용됨. */
  display: contents;
}
#content{ width: 1600px; margin: 0 auto; }
#footer{ width: 100%; }
