/*공통 css 이면서 관례적인 기본css*/
*{
    box-sizing: content-box; /* content+padding+border*/
    font-family: 굴림 나눔고딕;
    font-size: 12px;
    padding: 0px; margin: 0px; /* 전체 여백 제거 */
}
a{ /* a마크업 기본css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}
li{ list-style-type: none; }/* 목록 글머리 제거*/

/* ================ [1] 헤더 : HTML -> CSS ================= */
/* div, li 등 : block 이라서 한줄에 하나씩 표시 */
#header{
    display: flex; /* 직계 하위 요소 해당 */
    justify-content: space-between;
    align-items: center ; /* flex 요소들의 세로 정렬 */
    width: 1280px; margin: 0 auto;
}
#header .top-menu{ /* 선택자A 선택자B : 자손선택자 */
    display: flex; justify-content: flex-end; 
    margin: 10px 0px;
}
#header .top-menu li a{
    margin-left: 5px;
}
#header .main-menu{
    display: flex; justify-content: flex-end;
    margin: 20px 0px;
}
#header .main-menu li a{
    margin-left: 30px; /* 왼쪽 바깥여백 */
    font-size: 20px; font-weight: bold;
}
/* ================ [2] 대표 이미지 ================= */
#main-img > img {
    width: 100%; /* 전체 사이즈 */
}
/* ================ [3] 본문 ================= */
#main{
    display: flex; justify-content: space-between;
    width: 1280px; 
    margin: 20px auto;
}
/* 3-1 사이드바 */
#sidebar{ width: 220px;}
#sidebar > h3{
    background-color: gray; color: white;
    padding: 10px; /* 안쪽여백 */
    font-size: 20px;
}
#sidebar > ol > li {
    padding: 10px;
    border-bottom: 1px solid #eeeeee ; /* 아래쪽 테두리 */
}
/* 3-2 내용물 */
#content{ width: 1030px; }
#content > h3{
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#content > img{ 
    /* [1] 이미지 감싼 구역 생성 [2] display:block 변경 */
    display: block;
    margin: 0 auto;
}
/* ================ [4] 푸터 ================= */
#footer{
    background-color: #2c2a29;
    color: white;
    padding: 15px 0px;
}
#footer-inner{
    display: flex;
    justify-content: space-between;
    width: 1280px; margin: 0 auto;
}