/*공통 css 이면서 관례적인 기본css*/
*{
    box-sizing: content-box; /* content+padding+border*/
    font-family: 굴림 나눔고딕;
    font-size: 12px;
    padding: 0px; margin: 0px; /* 전체 여백 제거 */
}
a{ /* a마크업 기본css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}
li{ list-style-type: none; }/* 목록 글머리 제거*/

*{ /* 작업용 */
    border: 1px solid red;
    padding: 2px;
}
/* ================ [1] 헤더 : HTML -> CSS ================= */

/* ================ [2] 대표 이미지 ================= */

/* ================ [3] 본문 ================= */

/* ================ [4] 푸터 ================= */
