/*공통 css 이면서 관례적인 기본css*/
*{
    box-sizing: content-box; /* content+padding+border*/
    font-family: 굴림 나눔고딕;
    font-size: 12px;
    padding: 0px; margin: 0px; /* 전체 여백 제거 */
}
a{ /* a마크업 기본css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}
li{ list-style-type: none; }/* 목록 글머리 제거*/

*{ /* 작업용 */
    border: 1px solid red;
    padding: 2px;
}
/* ================ [1] 헤더 : HTML -> CSS ================= */
/* div, li 등 : block 이라서 한줄에 하나씩 표시 */
#header{
    display: flex; /* 직계 하위 요소 해당 */
    justify-content: space-between;
    align-items: center ; /* flex 요소들의 세로 정렬 */
    width: 1280px; margin: 0 auto;
}
#header .top-menu{ /* 선택자A 선택자B : 자손선택자 */
    display: flex; justify-content: flex-end; 
    margin: 10px 0px;
}
#header .top-menu li a{
    margin-left: 5px;
}
#header .main-menu{
    display: flex; justify-content: flex-end;
    margin: 20px 0px;
}
#header .main-menu li a{
    margin-left: 30px; /* 왼쪽 바깥여백 */
    font-size: 20px; font-weight: bold;
}
/* ================ [2] 대표 이미지 ================= */
#main-img > img {
    width: 100%; /* 전체 사이즈 */
}
/* ================ [3] 본문 ================= */

/* ================ [4] 푸터 ================= */
