/* 2.로그인 구역 */
.로그인구역{
    width: 350px; /* 구역 가로 사이즈 */
    /* 일반적으로 높이는 내용물 만큼 자동으로 사용한다. */
    text-align: center; /* 하위 요소들의 내용물들 가로 가운데 배치 */
    margin: 0 auto; /* 해당 구역 가로 */
    box-shadow :1px 2px 20px rgba(255, 0, 0, 0.322) ; /* 구역 그림자 */
    padding: 20px;
}
/* 3. 입력상자들 */
.입력구역 > input{  /* 상위선택자 > 하위선택자 */
    padding: 10px; /* 안쪽여백 */
    border: solid 1px #eeeeee; /* 테두리 : 밝은 회색 */
    border-radius: 10px; /* 둥근모서리 */
    margin-bottom: 20px ; /* 바깥여백 */
}
/* 4. 로그인버튼 */
.입력구역 > button{ /*버튼 사이즈는 안쪽여백 또는 크기 조정*/
    padding: 8px 20px;
    background-color: blue; /* 배경색 */
    color: white; /* 글꼴색상*/
    border: none; /* 테두리 제거 */
    border-radius: 10px;
}
/* 5. 링크 마크업 */
.서브제목 > a{
    text-decoration: none ; /* 밑줄 윗줄 취소선*/
}
